{% extends "marsmdwebsite/header.html" %}
{% load staticfiles %}

{% block cssLinks %}
	<link rel="stylesheet" type="text/css" href="{% static 'marsmdwebsite/styles/about.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'marsmdwebsite/styles/about_responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'marsmdwebsite/styles/services.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'marsmdwebsite/styles/services_responsive.css' %}">

{% endblock %}

{% block background %}

	<div class="home1">
		<div class="parallax_background parallax-window" data-parallax="scroll"  data-speed="0.8">
			<img src="{% static 'marsmdwebsite/images/about.jpg' %}">
		</div>
{% endblock %}

{% block content %} 

		<div class="home1_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home1_content">
							<div class="home1_title">About us</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- About -->

	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title">A few words about us</div>
					<div class="section_subtitle">too choose from</div>
				</div>
			</div>
			<div class="row about_row row-eq-height">
				<div class="col-lg-4">
					<div class="logo">
						<a href="#">MARS<span>+</span></a>	
					</div>
					
				
				</div>
				<div class="col-lg-4">
					<div class="about_text_2">
						<p>The Mars MD hospital is open to all patients every day and provides fundamental medical care and cutting-edge medicine in a central location in Mumbai. We use our superior academic knowledge to treat a wide range of health issues, taking a personal touch and utilizing highly specialized and up-to-date research. Each year, we treat around 42,000 inpatients and have over 500,000 outpatient visit our institute. Our employees guarantee comprehensive and individualized medical support even beyond their specific disciplines. With 980 hospital beds and close to 300,000 inpatient days, Mars MD is one of the largest hospitals in India.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="about_image"><img src="{% static 'marsmdwebsite/images/about_1.jpg' %}" alt=""></div>
				</div>
			</div>
		</div>
	</div>


	<div class="cta">
		<div class="parallax_background parallax-window" data-parallax="scroll"  data-speed="0.8">
			<img src="{% static 'marsmdwebsite/images/cta_1.jpg' %}">
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cta_container d-flex flex-xl-row flex-column align-items-xl-start align-items-center justify-content-xl-start justify-content-center">
						<div class="cta_content text-xl-left text-center">
							<div class="cta_title">Make an appointment with one of our professional Doctors.</div>
							<div class="cta_subtitle">With just a few clicks you can book yourself an appointment on our website.</div>
						</div>
						<div class="button cta_button ml-xl-auto"><a href="/appointments"><span>Book Now</span><span>Book Now</span></a></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Milestones -->

	<div class="milestones">
		<div class="container">
			<div class="row">

				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone d-flex flex-row align-items-center justify-content-start">
						<div class="milestone_icon d-flex flex-column align-items-center justify-content-center"><img src="{% static 'marsmdwebsite/images/icon_7.svg' %}" alt=""></div>
						<div class="milestone_content">
							<div class="milestone_counter" data-end-value="365">0</div>
							<div class="milestone_text">Days a year</div>
						</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone d-flex flex-row align-items-center justify-content-start">
						<div class="milestone_icon d-flex flex-column align-items-center justify-content-center"><img src="{% static 'marsmdwebsite/images/icon_6.svg' %}" alt=""></div>
						<div class="milestone_content">
							<div class="milestone_counter" data-end-value="25" data-sign-after="k">0</div>
							<div class="milestone_text">Patients a year</div>
						</div>
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone d-flex flex-row align-items-center justify-content-start">
						<div class="milestone_icon d-flex flex-column align-items-center justify-content-center"><img src="{% static 'marsmdwebsite/images/icon_8.svg' %}" alt=""></div>
						<div class="milestone_content">
							<div class="milestone_counter" data-end-value="125">0</div>
							<div class="milestone_text">Amazing Doctors</div>
						</div>
						
					</div>
				</div>

				<!-- Milestone -->
				<div class="col-lg-3 milestone_col">
					<div class="milestone d-flex flex-row align-items-center justify-content-start">
						<div class="milestone_icon d-flex flex-column align-items-center justify-content-center"><img src="{% static 'marsmdwebsite/images/icon_9.svg' %}" alt=""></div>
						<div class="milestone_content">
							<div class="milestone_counter" data-end-value="12" data-sign-after="k">0</div>
							<div class="milestone_text">Lab Results</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- CTA -->

	<div class="boxes d-flex flex-lg-row flex-column align-items-start justify-content-start">
		
		<!-- Box -->
		<div class="box">
			<div class="background_image" style="background-image:url({% static 'marsmdwebsite/images/box_1.jpg' %})"></div>
			<div class="box_title">Our Vision</div>
			<div class="box_subtitle">take a look</div>
			<div class="box_text">We will transform the health care experience through a culture of caring, quality, safety, service, innovation and excellence, and be recognized by employees, physicians, patients and families, volunteers and the community as the best place to work,to practice and to receive care.</div>
			
		</div>

		<!-- Box -->
		<div class="box">
			<div class="background_image" style="background-image:url({% static 'marsmdwebsite/images/box_2.jpg' %})"></div>
			<div class="box_title">Our Values</div>
			<div class="box_subtitle">take a look</div>
			<div class="box_text">At Mars MD, our core values are integrity, caring, safety, innovation and excellence. To be known as an excellent community citizen embodying an organization of people working together to do the right thing every day to improve the health of those we serve. Hala Madrid</div>
			
		</div>

		<!-- Box -->
		<div class="box">
			<div class="background_image" style="background-image:url({% static 'marsmdwebsite/images/box_3.jpg' %})"></div>
			<div class="box_title">Our Mission</div>
			<div class="box_subtitle">take a look</div>
			<div class="box_text">Our mission is to improve the health of those we serve with a commitment to excellence in all that we do. Our goal is to offer quality care and services that set community standards, exceed patients' expectations and are provided in a convenient, cost-effective and accessible manner.</div>
			
		</div>

	</div>
	<br>
	<br>
	<br>

{% endblock %}
	<!-- Doctors -->
