{% extends "marsmdwebsite/header.html" %}
{% load staticfiles %}

{% block content %}

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">Blogdetails</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="content" class="site-content">

		<div class="top-section">
								</div>

		<div class="container main-content-area">
						<div class="row side-pull-left">
				<div class="main-content-inner col-sm-12 col-md-8">

	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

		<article id="post-1241" class="post-1241 post type-post status-publish format-standard has-post-thumbnail hentry category-featured tag-sticky-2 tag-template"><br><br><br>
	<img width="750" height="410" src="{% static 'marsmdwebsite/images/hairfall.jpg' %}" scale="0">	
	<div class="post-inner-content">
		<header class="entry-header page-header">

			<div class="news_post_title"><a href="#">Hair Loss Treatment: Medicines For Hair Fall And Hair Regrowth</a></div><br>

			<div class="entry-meta">
				<span class="posted-on">
					<i class="fa fa-calendar-alt"></i>
					<time class="entry-date published" datetime="2015-01-07T07:07:21+00:00"> September 25, 2018</time>
					</a>
				</span>&nbsp&nbsp
					<span class="byline"> 
						<i class="fa fa-user"></i> 
						<span class="author vcard">
						 Manthan Mehta
							</a>
						</span>
					</span>								
			</div><!-- .entry-meta -->
		</header><!-- .entry-header -->

		<div class="entry-content">
			<p>1. Prescription and OTC drugs</p>

<p>The U.S. Food and Drug Administration (FDA) has approved two drugs to treat male pattern baldness:</p>

<p>Minoxidil (Rogaine): Rogaine is available over the counter as a liquid or foam. Apply it to the scalp twice a day to grow hair and prevent hair loss.</p>
<p>Finasteride (Propecia, Proscar): This is a pill that you take daily. It’s only available with a prescription from your doctor.</p>

<p>For both of these drugs, it may take up to a year to see results, and you’ll need to keep taking them to maintain the benefits.</p>

<p>2. Hair transplants</p>

<p>The two most popular hair transplant procedures are follicular unit transplantation and follicular unit extraction:</p>

<p>Follicular unit transplantation (FUT): FUT is the more “classic” method. It involves removing some skin from the back of your scalp, where there is an abundance of hair, and reinserting the hair follicles into the part of the scalp where you are experiencing hair loss.</p>

<p>Follicular unit extraction (FUE): In FUE, hair follicles are removed directly from the scalp and transplanted to the bald parts of the scalp.</p>

<p>Keep in mind that a hair transplant is considered a surgery, so it can be expensive and may be painful. There are also certain risks, including infections and scarring. You may also need to do multiple hair transplant treatments to get the desired outcome.</p>

<p>3. Laser treatment</p>

<p>Laser treatment is thought to reduce the inflammation in follicles that keeps them from regrowing. There are limited studies to support their effectiveness in treating hair loss, but a 2016 review determined that low-level laser therapy (LLLT) is safe and effective when used to treat male pattern hair loss. More research is needed.</p>

<p>4. Quit smoking</p>

<p>If you’re a smoker, you’ve probably heard about all the negative effects smoking has on your health. But did you know that smoking could cause hair loss on top of facial wrinkles and premature graying of hair? Research has determined that there’s a link between smoking and hair loss. If you want to keep from going bald, it may be a good idea to quit smoking as soon as possible.</p>

<p>5. Scalp massage</p>

<p>Not only do massages feel wonderful, but they can help with your hair loss, too. Massaging the scalp stimulates the hair follicles. In one small study, healthy Japanese men who received four minutes of scalp massage each day for 24 weeks had thicker hair at the end of the study.</p>

<p>6. Oils</p>

<p>There’s some evidence that peppermint oil can help with hair growth. Rosemary oil has also been traditionally used to increase blood circulation on the scalp. A 2013 study found that rosemary leaf extract improved hair regrowth in mice.</p>

<p>Coconut oil, castor oil, and olive oil are also widely recommended, but research on their benefits for hair growth is limited.</p>

<p>7. Onion juice</p>

<p>A 2002 study showed that the use of onion juice as a topical treatment resulted in significantly more regrowth than just tap water in people with patchy alopecia areata.</p>

<p>8. Green tea</p>

<p>Another purported herbal remedy for hair loss is green tea. A study in mice of the polyphenolic compounds present in green tea show promise as a natural remedy for hair loss, but human studies have not been done to confirm these effects.</p>

<p><span id="more-1241"></span></p>

					</div><!-- .entry-content -->
				</div>

			</article><!-- #post-## -->

		</main><!-- #main -->
	</div><!-- #primary -->

</div><!-- close .main-content-inner -->

		</div><!-- close .row -->
	</div>
	<!-- close .container -->
{% endblock %}