{% extends "marsmdwebsite/header.html" %}
{% load staticfiles %}

{% block content %}

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div id="content" class="site-content">

		<div class="top-section"></div>

		<div class="container main-content-area">
			<div class="row side-pull-left">
				<div class="main-content-inner col-sm-12 col-md-8">
					<div class="card">
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

		<article id="post-1241" class="post-1241 post type-post status-publish format-standard has-post-thumbnail hentry category-featured tag-sticky-2 tag-template"><br><br><br>
	<img width="750" height="410" src="{% static 'marsmdwebsite/images/constipation.jpg' %}" scale="0">	
	<div class="post-inner-content">
		<header class="entry-header page-header">

			<div class="news_post_title"><a href="#">11 Best Foods To Relieve Constipation</a></div><br>

			<div class="entry-meta">
				<span class="posted-on">
					<i class="fa fa-calendar-alt"></i>
					<time class="entry-date published" datetime="2015-01-07T07:07:21+00:00"> September 25, 2018</time>
					</a>
				</span>&nbsp&nbsp
					<span class="byline"> 
						<i class="fa fa-user"></i> 
						<span class="author vcard">
						 Shubham Jain
							</a>
						</span>
					</span>								
			</div><!-- .entry-meta -->
		</header><!-- .entry-header -->

		<div class="entry-content">
			<p>Constipation is a common health problem with a prevalence rate of around 16.8% in India. It can be chronic in nature, especially in old people. In most cases, few simple changes in diet and drinking enough water can help you to prevent constipation. Moreover, certain foods are known to add bulk to stools, increase bowel frequency, soften the stools and decrease the gut transit time (which is the time taken by the food to move through the digestive tract). Here are some of the common foods to relieve constipation at home.</p>

<p>1. Kiwi: Studies have reported that green kiwi fruit increases the frequency of stools, softens the stools and eases defecation. This could be attributed to the presence of fiber (2-3 gm of dietary fiber per 120 gm of the fruit), which plays a key role in bulking of the stools and relieving constipation. It also contains an enzyme which stimulates the motility of the upper gastrointestinal tract. A 2007 study done on the Chinese population[1] with constipation found that eating two kiwi fruits per day for around four weeks caused spontaneous bowel movements and reduced the use of laxatives.</p>

<p>You can peel the fruit, cut it into thin slices and either eat it raw or add to salads or smoothies to fight constipation.</p>

<p>2. Bananas: A medium-size banana (which weighs around 100 g) contains about 3 g of fiber. The role of fiber in preventing and relieving constipation is tried and tested. It not only absorbs water to soften the stools but also improves the movement of stool through the intestinal tract.</p>

<p>Eat a banana every day for regular bowel movements and prevent chronic constipation. Bananas are best eaten as a whole and not in smoothies or milkshakes.</p>

<p>3. Prunes: Dried plums are known to be effective against constipation. Prunes contain around 6.1 g of fiber per 100 g of fruit, which is very high as compared to other commonly available fruits. Moreover, it is rich in fructose and contains a high amount of sorbitol (14.7 g per 100 g), a sugar compound that has laxative properly. The presence of high amounts of phenolic compounds helps in relieving constipation due to its laxative effect.</p>

<p>Eat prunes as a whole. Avoid drinking prune juice to deal with constipation because it has less sorbitol and fiber content.</p>

<p>4. Apple: Eating an apple a day can help prevent constipation and improve symptoms in people already suffering from the condition. A medium sized apple contains around 4.4 gm of fiber, most of which is pectin. Studies[3] have revealed that pectin is broken down into short-chain fatty acids by the intestinal bacteria. These fatty acids absorb water, soften the stool and decrease the intestinal transit time, relieving constipation.</p>

<p>Eat the apple with its peel to increase your fiber intake. You can add apples to a fruit salad.</p>

<p>5. Pear: You can get around 22% of your daily recommended allowance of dietary fiber if you eat a medium-sized pear. In addition to fiber, pears are also rich in fructose and sorbitol. </p>

<p>Pears work best when eaten as a whole. However, drinking pear juice is usually recommended in kids whose intestinal function is not fully matured.</p>

<p>6. Figs: Raw, as well as dried figs, are a great source of fiber, which not only relieves constipation but also promotes a healthy bowel. Around 75 g of dried figs and raw figs contain 7.3 g and 2 g of fiber respectively. A study published in the Asia Pacific journal of clinical nutrition[4] showed that eating around 300 gms of fig paste every day for around 16 weeks improves stool consistency as well as gut transit time and also relieved stomach discomfort.</p>

<p>You can snack on figs by including them in your fruit salads, juices or smoothies. However, eating it in the whole form is regarded as the best way to up the intake of fiber.</p>

<p>7. Spinach: Spinach is one of the common leafy vegetables that is loaded with fiber. Moreover, it is also rich in various minerals and vitamins that improve digestion. A cup of spinach contains around 4 g of fiber, which is known to add bulk to stools and makes it easier to through the gut. To reap the benefits of spinach, include this leafy vegetable in your diet without fail. You can make palak parathas and palak paneer or add palak to smoothies or salads.</p>

<p>8. Oats: Oats are good for people suffering from constipation as it is rich in fiber. Oat bran is the outer covering of the grain, which is loaded with fiber. Studies[5] have proved that oat bran improves the frequency and consistency of stools. Moreover, adding around 8 g of oat bran to your diet every day reduces the use of laxatives.</p>

<p>Oat bran can be added to wheat flour, granola mixes or bakery items. But use oat bran and not ready-to-eat oats, as the latter contains less fiber as compared to oat bran.</p>

<p>9. Flaxseeds: One of the commonly used traditional remedies to deal with constipation, flaxseeds act as a natural laxative. This is due to the presence of soluble as well as insoluble fiber. A tablespoon of roasted flaxseeds contains around 3 g of fiber. Studies[6] have claimed that the fiber in flaxseeds acts as a sponge retaining water and softening the stools. The bacteria in the gut break down the fiber into short-chain fatty acids during fermentation. It increases motility and stimulates bowel movements. However, its use in pregnant women is highly debated as many believe it can lead to uterine contractions.</p>

<p>You can add flaxseeds to cereals or use it in salads. Flaxseed powder can be added to wheat flour or milk.</p>

<p>10. Sweet potato: Unlike potatoes, sweet potatoes are rich in fiber. A medium-sized sweet potato contains around 3.8 g of both insoluble fibers such as cellulose and lignin and soluble fiber such as pectin. Both types of fiber play a key role in easing constipation by improving the bowel movement and adding weight to stools.</p>

<p>You can eat sweet potatoes in the boiled or roasted form to increase your intake of fiber. Alternatively, you can steam it, mash it and add it to curries or salads.</p>

<p>11. Probiotics: Probiotics are beneficial microbes that offer a wide range of health benefits. These are reported to help relieve constipation in children. Probiotics that contains bacteria such as bifidobacteria and lactobacilli help maintain the level of good bacteria in the digestive tract which aids proper digestion.</p>

<p>Adding probiotics to your diet is not a bad idea, especially in your kid’s diet, which not only improves digestive health but also enhances overall immunity.</p>
<p><span id="more-1241"></span></p>

					</div><!-- .entry-content -->
				</div>

			</article><!-- #post-## -->

		</main><!-- #main -->
	</div><!-- #primary -->

</div><!-- close .main-content-inner -->
</div><!-- card -->

		</div><!-- close .row -->
	</div>

{% endblock %}