{% extends "marsmdwebsite/header.html" %}
{% load staticfiles %}

{% block content %}

		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">Blogdetails</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div id="content" class="site-content">

		<div class="top-section"></div>
								

		<div class="container main-content-area">
						<div class="row side-pull-left">
				<div class="main-content-inner col-sm-12 col-md-8">

	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

		<article id="post-1241" class="post-1241 post type-post status-publish format-standard has-post-thumbnail hentry category-featured tag-sticky-2 tag-template"><br><br><br>
	<img width="750" height="410" src="{% static 'marsmdwebsite/images/indigestion.jpg' %}" scale="0">	
	<div class="post-inner-content">
		<header class="entry-header page-header">

			<div class="news_post_title"><a href="#">5 Foods To Fight Indigestion And Prevent Digestion Problems</a></div><br>

			<div class="entry-meta">
				<span class="posted-on">
					<i class="fa fa-calendar-alt"></i>
					<time class="entry-date published" datetime="2015-01-07T07:07:21+00:00"> September 25, 2018</time>
					</a>
				</span>&nbsp&nbsp
					<span class="byline"> 
						<i class="fa fa-user"></i> 
						<span class="author vcard">
						 Aadit kachalia
							</a>
						</span>
					</span>								
			</div><!-- .entry-meta -->
		</header><!-- .entry-header -->

		<div class="entry-content">
			<p>Indigestion, clinically known as dyspepsia, occurs when you face difficulty to digest food. This can cause abdominal discomfort or a feeling of fullness. Changing your lifestyle and diet habits can help you to prevent or treat indigestion at home. You can prevent these problems from worsening if you avoid foods such as caffeine, high-fat diets, alcohol, and spicy foods. On the other hand, including certain foods in your diet can help you to improve digestion and fight indigestion Here is a list of few foods you must include in the diet.</p>

<p>1. Ginger: It is one of the most widely used natural remedies to treat gastrointestinal disorders such as nausea, vomiting, diarrhea, and indigestion. The spice contains active ingredients such as ghrelin and motilin which are known to improve gastrointestinal motility. This is because it is seen that about 40% of the patients suffering from indigestion have abnormally delayed gastric emptying. Hence, adding ginger to your diet can help you to relieve the symptoms of indigestion and digestion problems.</p>

<p>You can add thinly sliced ginger to curries or add crushed ginger to soups, kadha or tea can help you to improve digestion.</p>

<p>2. Yogurt: Yoghurt is one of the major sources of probiotics, which are gut-friendly bacteria. These bacteria not only help in digestion but also keep your gut healthy. Hence, eating yogurt can help you to maintain a healthy balance of the gut bacteria in the body and improve digestion. According to a 2014 Japanese study published in the journal ‘Pharmaceuticals’ eating yogurt loaded with probiotic bacteria every day for three months improved symptoms of gastroesophageal reflux disease (GERD). The patients in the study suffered from chronic heartburn and were on acid-suppressing drugs.</p>

<p>If you are on medicines for indigestion or not, make sure you include probiotics or yogurt in your diet. Pick a plain one with no added sugar or flavors to soothe your tummy and beat indigestion.</p>

<p>3. Cereals: Grains are rich in fiber, which not only improves digestion but also prevents digestive complications such as constipation and indigestion. A study by Nilsson et al. documented that consuming foods rich in fiber, such as whole wheat bread, was found to lower the risk of reflux and thus, alleviate symptoms of indigestion. The fiber also acts as a prebiotics, food for probiotic bacteria, thereby keeping the gut healthy.</p>

<p>So include foods rich in fiber such as steel cut oats (not instant oats) and whole wheat flour to prevent as well as treat indigestion at home.</p>

<p>4. Papaya: Papaya is packed with vitamins and minerals which are good for your health. But most people are unaware that this fruit is also good for digestion and digestion-related problems. It contains a digestive enzyme known as papain, which helps in breaking down the protein and aid in the process of digestion. Due to its ability to assist in digestion, papain is commonly used in various digestive supplements.</p>

<p>To improve your digestion and to beat indigestion do not forget to include papaya in the diet. You can eat papaya slices as snacks or add diced papaya to fruit salad or smoothies.</p>

<p>5. Spinach: Green leafy vegetables are excellent sources of dietary fibers. Spinach is one of the leafy vegetables that helps in improving digestion and help deal with indigestion. It contains insoluble fiber which helps in pacing the food through the digestive tract and aid in digestion. Spinach also contains magnesium, which is known to relieve upset stomach and heartburn due to acidity. Green leafy vegetables like spinach contain a type of sugar which acts as a food for the gut bacteria. A 2016 study reported that raw spinach juice exerts a potent antacid activity which neutralizes stomach acid and helps relieve symptoms of indigestion.</p>

<p>You can include spinach in your diet either in the form of curries or salads. Drinking a glass of freshly prepared spinach juice is also a good idea to maintain a healthy gut.</p>
<p><span id="more-1241"></span></p>

					</div><!-- .entry-content -->
				</div>

			</article><!-- #post-## -->

		</main><!-- #main -->
	</div><!-- #primary -->

</div><!-- close .main-content-inner -->

		</div><!-- close .row -->
	</div>

	<!-- close .container -->
{% endblock %}