<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'marsmdwebsite/css/style.css' %}" type = "text/css"/>
	 
	<title>MARS-MD</title>
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> We're here to help you out with your password! </h2>

    <!-- Login Form -->
    <form method="post" action="">
      
      {% csrf_token %}
      {{ form.as_p }}
      
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="enter your email">

      <input type="submit" class="fadeIn fourth" value="Send me a mail!">
    </form>

  </div>
</div>
</body>
</html>