<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'marsmdwebsite/css/style.css' %}" type = "text/css"/>
	 
	<title>MARS-MD</title>
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Log In </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% static 'marsmdwebsite/images/user_icon.png' %}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form method="post" action="">
      
      {% csrf_token %}
      {{ form.as_p }}
      
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="username">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/forgot_password">Forgot Password?</a> <br><br>
      <a class="underlineHover" href="/signup">Sign up!</a>
    </div>

  </div>
</div>
</body>
</html>