{% extends "marsmdwebsite/header.html" %}
{% load staticfiles %}


<!-- <link rel="stylesheet" type="text/css" href="{% static 'marsmdwebsite/styles/news.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'marsmdwebsite/styles/news_responsive.css' %}"> -->


	<!-- Home1 -->
	{% block background %}
	<div class="home1">
		<div class="parallax_background parallax-window" data-parallax="scroll"  data-speed="0.8">
			<img src="{% static 'marsmdwebsite/images/news.jpg' %}">
		</div>
	
		{% endblock %}
		<!-- Header1 -->

		
		
		{% block content %}
		<div class="home1_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home1_content">
							<div class="home1_title">Blogs</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<!-- News -->

	<div class="news">
		<div class="container">
			<div class="row">
				
				<!-- News Posts -->
				<div class="col-lg-8">
					<div class="news_posts">
						
						<!-- News Post -->
						<div class="news_post">
							<div class="news_post_image"><img src="{% static 'marsmdwebsite/images/indigestion.jpg' %}" alt=""></div>
							<div class="news_post_content">
								<div class="news_post_title"><a href="/blog1">5 Foods To Fight Indigestion And Prevent Digestion Problems</a></div>
								<div class="news_post_info">
									<ul class="d-flex flex-row align-items-center justify-content-start">
										<li><a href="#">by Aadit Kachalia</a></li>
										<li><a href="#">Sptember 25, 2018</a></li>
									</ul>
								</div>
								<div class="news_post_text">
									<p>Indigestion, clinically known as dyspepsia, occurs when you face difficulty to digest food. This can cause abdominal discomfort or a feeling of fullness. Changing your lifestyle and diet habits can help you to prevent or treat indigestion at home1. You can prevent these problems from worsening if you avoid foods such as caffeine, high-fat diets, alcohol, and spicy foods. On the other hand, including certain foods in your diet can help you to improve digestion and fight indigestion...</p>
								</div>
								<div class="button news_post_button"><a href="/blog1"><span>read more</span><span>read more</span></a></div>
							</div>
						</div>

						<!-- News Post -->
						<div class="news_post">
							<div class="news_post_image"><img src="{% static 'marsmdwebsite/images/constipation.jpg' %}" alt=""></div>
							<div class="news_post_content">
								<div class="news_post_title"><a href="/blog2">11 Best Foods To Relieve Constipation</a></div>
								<div class="news_post_info">
									<ul class="d-flex flex-row align-items-center justify-content-start">
										<li><a href="#">by Shubham Jain</a></li>
										<li><a href="#">September 25, 2018</a></li>
									</ul>
								</div>
								<div class="news_post_text">
									<p>Constipation is a common health problem with a prevalence rate of around 16.8% in India. It can be chronic in nature, especially in old people. In most cases, few simple changes in diet and drinking enough water can help you to prevent constipation. Moreover, certain foods are known to add bulk to stools, increase bowel frequency, soften the stools and decrease the gut transit time (which is the time taken by the food to move through the digestive tract)..</p>
								</div>
								<div class="button news_post_button"><a href="/blog2"><span>read more</span><span>read more</span></a></div>
							</div>
						</div>

						<!-- News Post -->
						<div class="news_post">
							<div class="news_post_image"><img src="{% static 'marsmdwebsite/images/hairfall.jpg' %}" alt=""></div>
							<div class="news_post_content">
								<div class="news_post_title"><a href="/blog3">Hair Loss Treatment: Medicines For Hair Fall And Hair Regrowth</a></div>
								<div class="news_post_info">
									<ul class="d-flex flex-row align-items-center justify-content-start">
										<li><a href="#">by Manthan Mehta</a></li>
										<li><a href="#">September 25, 2018</a></li>
									</ul>
								</div>
								<div class="news_post_text">
									<p>If you start looking online for the top hair fall treatment options, you might stumble upon numerous products that claim to reverse hair loss. Unfortunately, not everything that you come across online is true. Right from hair tonics and hair growth products to natural remedies for hair loss, you tend to fall prey various hair fall products...</p>
								</div>
								<div class="button news_post_button"><a href="/blog3"><span>read more</span><span>read more</span></a></div>
							</div>
						</div>
						
					</div>
				</div>

				<!-- Sidebar -->
				<div class="col-lg-4">
					<div class="news_sidebar">
						<!-- Categories -->
						<div class="sidebar_categories" style="margin-top: 0px;">
							<div class="sidebar_title">Categories</div>
							<div class="categories">
								<ul>
									<li><a href="#"><div class="d-flex flex-row align-items-center justify-content-start">
										<div>Medicine</div>
										<div class="ml-auto">(11)</div>
									</div></a></li>
									<li><a href="#"><div class="d-flex flex-row align-items-center justify-content-start">
										<div>Pharmacy</div>
										<div class="ml-auto">(23)</div>
									</div></a></li>
									<li><a href="#"><div class="d-flex flex-row align-items-center justify-content-start">
										<div>Uncategorized</div>
										<div class="ml-auto">(6)</div>
									</div></a></li>
									<li><a href="#"><div class="d-flex flex-row align-items-center justify-content-start">
										<div>Doctors</div>
										<div class="ml-auto">(9)</div>
									</div></a></li>
									<li><a href="#"><div class="d-flex flex-row align-items-center justify-content-start">
										<div>Innovations</div>
										<div class="ml-auto">(15)</div>
									</div></a></li>
								</ul>
							</div>										
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

