{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'marsmdwebsite/styles/sign-up-style.css' %}"> -->
  <link rel="stylesheet" href="{% static 'marsmdwebsite/css/style.css' %}" type = "text/css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>MARS-MD</title>
</head>
<body>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
	<div class="tab">
  		<button class="tablinks" onclick="openCity(event, 'Customer')" id="defaultOpen"> Patient </button>
  		<button class="tablinks" onclick="openCity(event, 'Doctor')"> Doctor </button>
	</div>
    <!-- Icon -->
    	<div class="fadeIn first">
    		<img src="{% static 'marsmdwebsite/images/user_icon.png' %}" id="icon" alt="User Icon" />
      		<!-- <img src="{% static 'marsmdwebsite/images/signUp.png' %}" id="icon" alt="User Icon" /> -->
    	</div>

    <!-- Login Form -->
    	<div class="form" action ="">
	        
			<h2 class="active"> Sign Up </h2>


	        	<div id ="Customer" class="tabcontent">

	        		<form method="post" action="">
						{% csrf_token %}
        				{{ form.as_p }}    		
		    			<label for="fname">First Name</label><br>
		    			<input type="text" id="fname" name="firstname" placeholder="John" required><br><br>
		   		 		
		   		 		<label for="lname">Last Name</label><br>
		    			<input type="text" id="lname" name="lastname" placeholder="Doe" required><br><br>
		    			
		    			<label for="age">Age</label><br>
		    			<input type="text" id="Age" name="Age" required><br><br>
		    			
					     <label for="phone">Contact</label><br>
					    <input type="text" id="phone" name="Contact" required><br><br>
					    <label for="sex">Sex</label><br>
		    			<input type="radio" name="gender" value="M" checked> Male &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    			<input type="radio" name="gender" value="F"> Female &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					    <input type="radio" name="gender" value="O"> Other <br><br>

					    <label for="email">Email</label><br>
					    <input type="text" placeholder="john.doe@example.com" name="email" required><br><br>
					    
					    <label for="username">Username</label><br>
					    <input type="text" placeholder="john_doe" name="username" required><br><br>					    

					    <label for="password">Password</label><br>
					    <input type="password" id="password" placeholder="▪️▪️▪️▪️▪️" name="password" required><br><br>
					    
					    <label for="password-repeat">Confirm Password</label><br>
					    <input type="password" id="password-repeat" placeholder="▪️▪️▪️▪️▪️" name="password-repeat" required><br>
					    <label><input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px">Remember me<br><br>
					    </label>
					    <input type="submit" class="fadeIn fourth" value="SIGN UP">
						<!-- <button type="submit" class="button button-block">Sign Up</button><br> -->

					</form>
				</div>

	    		<div id="Doctor" class="tabcontent">
				    
				    <form method="post" action="/doc/">
				    	{% csrf_token %}
        				{{ form.as_p }}    		
					    <label for="fname">First Name</label><br>
					    <input type="text" id="fname" name="firstname" placeholder="John" required><br><br>
					    
					    <label for="lname">Last Name</label><br>
					    <input type="text" id="lname" name="lastname" placeholder="Doe" required><br><br>
					    
					    <label for="age">Age</label><br>
					    <input type="text" id="Age" name="Age" required><br><br>
					    
					    <label for="phone">Contact</label><br>
					    <input type="text" id="phone" name="Contact" required><br><br>
					    				    
					    <label for="hospital">Hospital</label><br>
					    <input type="text" placeholder="Lilavati" name="hospital" required><br><br>

					    <label for="address">Adress</label><br>
					    <input type="text" placeholder="A52, Lilavati Hospital, Bandra West" name="address" required><br><br>

					    <label for="speciality">Speciality</label><br>
					    <input type="text" id="speciality" name="speciality"><br><br>
					    
					    <label for="email">Email</label><br>
					    <input type="text" placeholder="john.doe@example.com" name="email" required><br><br>
					    
					    <label for="username">Username</label><br>
					    <input type="text" placeholder="john_doe" name="username" required><br><br>					    
					    
					    <label for="password">Password</label><br>
					    <input type="password" id="password" placeholder="▪️▪️▪️▪️▪️" name="password" required><br><br>
					    
					    <label for="password-repeat">Confirm Password</label><br>
					    <input type="password" id="password-repeat" placeholder="▪️▪️▪️▪️▪️" name="password-repeat" required><br><br>

					    <input type="submit" class="fadeIn fourth" value="SIGN UP">	    
					    <!-- <button type="submit" class="tablinks"/>Sign Up</button><br> -->
					</form>
		    	</div>
		    <!-- <input type="submit" class="fadeIn fourth" value="Sign Up"> -->
    	</div>
	</div>
</div>

    <script type="text/javascript">
    	function openCity(evt, cityName) {
	    var i, tabcontent, tablinks;
	    tabcontent = document.getElementsByClassName("tabcontent");
	    for (i = 0; i < tabcontent.length; i++) {
	        tabcontent[i].style.display = "none";
	    }
	    tablinks = document.getElementsByClassName("tablinks");
	    for (i = 0; i < tablinks.length; i++) {
	        tablinks[i].className = tablinks[i].className.replace(" active", "");
	    }
	    document.getElementById(cityName).style.display = "block";
	    evt.currentTarget.className += " active";
		}

// Get the element with id="defaultOpen" and click on it
		document.getElementById("defaultOpen").click();
    </script>
</body>
</html>